.App {
  background-color: white;
  width: 40%;
  margin-left: 400px;
}

body {
  background: url('./background.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #575756;
  border-radius: 10px;
  
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  li {
    padding: 10px;
    margin: 10px;
  }

  h1, h2, ul {
    font-family: 'Open Sans', sans-serif;
  }

  p, h1 {
    color: #614BC3;
    font-weight: bolder;
  }

  button {
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    background-color: #85E6C5;
    padding: 10px;
    }
